<div class="center-align">
  <h3>Error 404</h3>
  <h4>This is not the page you are looking for.</h4>
  <iframe src="//giphy.com/embed/xPJi58l0BLhzG" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/xPJi58l0BLhzG">via GIPHY</a></p>
</div>