  <div class="center-align">
    <h3> Favorite Shows</h3>
  </div>
  <div class="carousel">
    <% user.shows.forEach(function(show){%>
      <% if (show.usersShows.favorite) { %>
          <a class="carousel-item" href="/results/show/<%= show.guideboxId %>"><img src="<%= show.image%>"></a>
      <% } %>

    <% }) %>
  </div>
