<div class="center-align">
  <h1>Friends</h1>
  </div>
  <div>
    <% friends.forEach(function(friend){%>
      <p><%= friend.name %>
      <a href="/friend/<%= friend.id %>">Delete</a>
      </p>
      <% }); %>
  </div>