<div class="center-align">
  <h1>Friends</h1>
  </div>
  <div>
    <% friends.forEach(function(friend){%>
      <h5><a href="/friend/<%= friend.id %>"><%= friend.name %></a></h5>
      <a href="/friend/<%= friend.id %>" class="delete-link">Delete</a>
      <%= friend.shows %>
      <% }); %>
  </div>