<div class="center-align">
  <h1>Friends</h1>
  </div>
  <div>
    <% friends.forEach(function(friend){%>
      <h5><%= friend.name %>
      <a href="/friend/<%= friend.id %>">Delete</a>
      </h5>
      <%= friend.shows %>
      <% }); %>
  </div>