@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #index {
  background-image: none !important;
  background-color: black;

}

}

nav {
	background-color: #4db6ac;
}

 ul {
  display: inline-block;
}

.container {
  clear: both;

}

.carousel {
  height: 200px;
}
#index {
  height: 500px;
  width: 100%;
  background-image: url('/child-watching-tv.jpg');
  background-size: cover;
}
