@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #index {
  background-image: none !important;
  }
  #chair {
  clear: both;
  }
}

body {
  background-color: black;
  color: white;
}

nav {
	background-color: #4db6ac;
}

 ul {
  display: inline-block;
}

.container {
  clear: both;

}

.carousel {
  height: 200px;
}

#index {
  height: 500px;
  width: 100%;
  background-image: url('/child-watching-tv.jpg');
  background-size: cover;
}
.like btn {
  margin: 5px;
}

#header {
  margin-bottom: 25px;
}

#results {
  width: 75%;
  float: left;
}

#chair {
  float: right;
  width: 25%;
}
