@media (max-width: 600px) {
  #index {
  height: 300px;
  width: 300px;
  background-image: url('/child-watching-tv.jpg');
  background-size: cover;
}

}

nav {
	background-color: #4db6ac;
}

 ul {
  display: inline-block;
}

.container {
  clear: both;

}

.carousel {
  height: 200px;
}
#index {
  height: 500px;
  width: 100%;
  background-image: url('/child-watching-tv.jpg');
  background-size: cover;
}
